@model IEnumerable<HotelProject.Models.AboutUs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src=@Url.Content("~/Images/PagesManagement" + item.Image)
                         asp-append-version="true" style="border-radius:20%;"
                         width="100" height="100" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutUsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutUsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutUsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
